.venv
venv
*.pyc
tempCodeRunnerFile.py
PyWhatKit_DB.txt
tp.py
userlogin.png
config.py
desktop-assistant-f315e-firebase-adminsdk-ilw8c-fb4eac3517.json
signup_login.spec
*.exe
*.spec
tp.py
tp2.py
user_config.txt
gemini_ai.py
__pycache__